<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cocktail Website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{#if ageVerified}}
    <header class="center-align">
      <h1 class="header text-darken-2">Cocktail Website</h1>
      <nav class="nav-wrapper">
        <a href="/" class="{{#if isHome}}active{{/if}}">Home</a>
          {{#if isLoggedIn}}
            <a href="/dashboard">Dashboard</a>
            <p>Welcome, {{userName}}</p>
            <a href="/logout">Log Out</a>
          {{else}}
            <a href="/login" class="{{#if isLogin}}active{{/if}}">Login</a>
            <a href="/register" class="{{#if isRegister}}active{{/if}}">Register</a>
          {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  {{else}}
    {{!-- Verify Age Conditional --}}
    <div class="row age21">
  <div class="col s12 m6 offset-m3">
    <div class="card age-verification-card">
      <div class="card-content teal lighten-2 white-text center-align">
        <h2 class="flow-text">Are you 21 years of age or older?</h2>
        <p>I verify that I am over the legal drinking age.</p>
        <div class="verification-buttons">
          <a href="/verify" class="waves-effect waves-light btn green">Yes</a>
          <a href="/sorry" class="waves-effect waves-light btn red">No</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>