<div class="about-container container">
    <div class="about-wrapper">
        <div class="about-card card large" style="background-color: #4e342e; color: #fff;">
            <div class="card-content">
                <h3>About MixMate</h3>
                <h5 class="about-section-title">A brief history of cocktails</h5>
                <p>Cocktails have a rich history that dates back centuries. The term "cocktail" emerged in the early 19th century, and mixed alcoholic beverages have been enjoyed since ancient times.<br><br>The mid-19th century saw the rise of classic cocktails, and Prohibition in the United States led to the creation of innovative drinks to mask the poor quality of bootleg liquor. Today, cocktails remain a popular and ever-evolving aspect of social and culinary culture.<br><br>At MixMate, we passionately honor cocktail culture, elevating every sip to a heightened celebration of joy.
                </p>
                <h5 class="about-section-title">A guide to our site</h5>
                <p>It's our goal to ensure to ensure your experience on MixMate is as easy as can be, so take a read of how to get around!<br><br>
                1 - Register an account with us.<br><br>
                2 - Use the home page to search for cocktails, and add them to your personal dashboard.<br><br>
                3 - Head over to your dashboard to see your added cocktails, along with the ingredients needed, and the recipe to make them.<br><br>
                4 - Upload a photo of your masterful creation so it's displayed amongst other users drinks on the community home page!<br><br>
                </p>
            </div>
        </div>
    </div>
</div>