<h1>Dashboard</h1>

<form action="/cocktail" method="POST">
    <input type="text" id="ingredient-search" placeholder="Enter an ingredient">
    <div id="ingredient-suggestions"></div>
</form>

<main class="cocktails">
    <div id="user-cocktails-container"></div>
</main>