<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cocktail Website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  </head>
<body>
<h1>Dashboard</h1>

<form action="/drink" method="POST">
    <input type="text" id="ingredient-search" placeholder="Enter an ingredient">
    <div id="ingredient-suggestions"></div>
    <br>
    <p>or</p>
    <input type="text" id="name-search" placeholder="Enter a cocktail name">
    <div id="name-suggestions" class="center-align"></div>
    <button>submit</button>
</form>

<main class="cocktails">
    <div id="user-cocktails-container"></div>
</main>


{{!-- JD Suggestions --}}
{{!-- {{#each drinks}}
    <div class="drink">
        <h3>{{drink_name}}</h3>
        <form action="/drink" method="POST">
            <input type="hidden" name="drink_name" value="{{drink_name}}">
            <button>Favorite Drink</button>
        </form>
    </div>
{{/each}} --}}
</body>
</html>