<h1>Dashboard</h1>

<form action="/cocktails" method="POST">
    <input name="text" type="text" placeholder="Share your thought!">
    <button>Submit</button>
</form>

<main class="cocktails">
    {{#each blogs}}
    <div class="cocktail">
        <p>{{text}}</p>
    </div>
    {{/each}}
</main>