<h1>What Our Community Is Drinking!</h1>

<ul>
    {{#each cocktails}}
        <li>
            <p>{{text}}</p>
            <p>Added By: {{user.userName}}
            </p>
        </li>
    {{/each}}
</ul>