<div id="hero-image" class="center-align">
    <div class="hero-content">
        <h1>Need a drink?</h1>
        <p>We've got you covered. We'll help you find an awesome cocktail recipe so that you can be your own mixologist
            right at home.</p>
        <div class="contain">
            <form id="form" action="/drink" method="POST">
                <input class="search-input-box" type="text" id="name-search" placeholder="Enter a cocktail name" style="color: #fff;">
                <div id="name-suggestions"></div>
            </form>
        </div>
    </div>
</div>

<h4 class="community-title">What our community is drinking</h4>

<div class="gallery-container">
    {{#each favorites}}
        {{#if this.image_url}}
            <div class="gallery-card-wrapper">
                <div class="gallery-card">
                    <div class="gallery-card-image">
                        <img src={{this.image_url}} class="favorite-image" alt="Picture of a user's cocktail">
                    </div>
                    <span class="card-title">{{this.cocktailName}}</span>
                    <div class="card-content">
                        <p>Sipped by: {{user.userName}}</p>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>